.container {
  background-color: rgb(237, 232, 232);
  height: 100vh;
  margin-top: 80px;
}
.wrapperItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(237, 232, 232);
}

.container p {
  white-space: wrap;
}
.itemContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  @media (max-width: 650px) {
    width: 100%;
    padding: 10px;
  }
}
.itemCart {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 4px 4px 0px #0000001a;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #ffffff;
  @media (max-width: 850px) {
    flex-direction: column;
  }
}
.itemCardsImage {
  width: 130px;
  height: 130px;
  /* object-fit: cover; */
  object-position: center;
}
.aboutItemCart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 10px;
  width: 100%;
}
.wrapperDescription {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 850px) {
    flex-direction: column;
    gap: 10px;
    padding-bottom: 10px;
  }
}
.descriptionItemCart {
  display: flex;
  flex-direction: row;
  padding-right: 10px;
  @media (max-width: 850px) {
    flex-direction: column;
    gap: 10px;
  }
}
.descriptionItemCart h2 {
  display: flex;
  width: 25%;
  white-space: wrap;
  font-weight: 400;
  @media (max-width: 850px) {
    width: 100%;
    white-space: nowrap;
  }
}
.descriptionItemCart p {
  display: flex;
  width: 75%;
  @media (max-width: 850px) {
    width: 100%;
  }
}
.buttonContainer {
  background-color: #00ae1c;
  width: 81px;
  height: 36px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  padding: 10px;
  cursor: pointer;
}
b {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  padding: 0 5px;
  text-align: center;
}
.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
}
span {
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  padding: 0 5px;
  text-align: center;
}
.minus,
.plus {
  width: 36px;
  height: 36px;
  background-color: #00ae1c;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
}
.price {
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  @media (max-width: 450px) {
    font-size: 18px;
  }
}
.containerTotalQuantity {
  width: 70%;
  @media (max-width: 550px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.totalQuantity {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 10px;
  color: #243573;
  width: 30%;
  padding-bottom: 5px;
  @media (max-width: 850px) {
    width: 40%;
  }
  @media (max-width: 700px) {
    width: 50%;
  }
  @media (max-width: 550px) {
    width: 100%;
  }
}
h3 {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.2px;
}
h4 {
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.2px;
  color: #243573;
  white-space: nowrap;
  @media (max-width: 400px) {
    font-size: 18px;
  }
}
.buttonNextStep {
  background-color: #00ae1c;
  width: 150px;
  height: 36px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}
h5 {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;
}
.disabled {
  background-color: rgba(24, 119, 39, 1);
}
